<link rel="stylesheet" href="dashboard.css">

<div id = "account-info">
    <button id = "close-button">X</button>
    <p id = "user">Nobody's logged in.</p>

    <div id = "account">
        <p>Is there anything you'd like to change?</p>
        <input id = "update-user" type="text" name="username" placeholder = "Username">
        <button id = "delete">Delete My Whole Account</button>
    </div>

    <div id = "post-field">
        <p>Make a Post</p>
        <input type="text" id = "post-title" placeholder = "Title">
        <textarea id = "post-body" placeholder = "Body"></textarea>
        <button id = "post-submit">Submit</button>
    </div>
</div>

<section>
    <p>Your Posts are here</p>
    
    <hr>

    <div id = "posts">

    </div>

</section>
